:root {
    --font-size: 9px;
    --card-height: 113mm;
    --card-width: 70mm;
}

/* Insert margins between cards to let us make a clean cut */
.card {
    margin: 0.2mm;
    /*
      Somehow, we've measured a 4.5% difference between this and the generated size.
      We set height/width to 95.5% of the slieve size, while also keeping 1mm for
      extra room on each side.
    */
    height: calc((var(--card-height) - 2mm) * 0.955) !important;
    width: calc((var(--card-width) - 2mm) * 0.955) !important;
}

.card,
.card-p {
    font-size: var(--font-size) !important;
}

/*
  When a card has a background image, remove all the cruft to
  only get the same clean border as the front face.
*/
.card-back {
    margin: unset;
    border-radius: 2mm;
    background-color: white;
}

.game-icon {
    line-height: unset;
}

.card-subtitle .game-icon {
    font-size: 1em;
}

.card-subtitle {
    line-height: 1.4em;
    font-size: 1.2em;
}

.card-section {
    font-size: 1.1em;
}

.card-property-name {
    font-size: var(--font-size);
}